FIDC_API_INTERNAL_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_FIDC_API_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_FIDC_API_USERNAME=operador
NEXT_PUBLIC_FIDC_API_PASSWORD=operador123
NEXT_PUBLIC_FIDC_TASK_CONSOLE_URL=http://localhost:8280
NEXT_PUBLIC_FIDC_MANAGEMENT_CONSOLE_URL=http://localhost:8380
